body {
    background: gray;
}

button {
    background-color: black;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    width: 60px;
}

.stack {
    background-color: black;
    color: red;
    font-family: Helvetica;
}

.memory {
    background-color: black;
    color: white;
    font-family: Helvetica;
}

button:hover {
    color: yellow;
    background-color: red;
}

.trig {
    background-color: darkgray;
    width: 60px;
}

.digit {
    background-color: white;
    border-color: black;
    color: black;
    width: 60px;
}

.arithmetic {
    background-color: skyblue;
    color: white;
    width: 60px;
}

.calculator {
    background-color: gray;
    border: 2px solid white;
}

.tape {
    background-color: teal;
    color: white;
    border: 1px solid black;
    width: 100px;
}

.caption {
    background-color: white;
    color: black;
    border: 1px solid black;
    width: 500px;
