<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CNC-35</title>
    </head>
    <body>
        <h1>CNC-35</h1>
        <table border="2px" border-collapse: collapse>
            <caption>Stack</caption>
            <tr>
                <th width="15">Register</th>
                <th width="150">&nbsp;</th>
            </tr>
            {% for index in range(stack.depth - 1, -1, -1) %}
            <tr>
                <td text-align="center">{{ stack.labels[index] }}</td>
                <td text-align="right">{{ stack.stack[index] }}</td>
            </tr>
            {% endfor %}
        </table>
            <table>
                <tr>
            <td><button class="styled" type="button">x^y</button></td>
            <td><button class="styled" type="button">log</button></td>
            <td><button class="styled" type="button">ln</button></td>
            <td><button class="styled" type="button">e^x</button></td>
            <td><button class="styled" type="button">clr</button></td>
                </tr>
                <tr>
            <td><button class="styled" type="button">sqrt</button></td>
            <td><button class="styled" type="button">sin</button></td>
            <td><button class="styled" type="button">cos</button></td>
            <td><button class="styled" type="button">tan</button></td>
                </tr>
                <tr>
                    <td></td>
            <td><button class="styled" type="button">arcsin</button></td>
            <td><button class="styled" type="button">arccos</button></td>
            <td><button class="styled" type="button">arctan</button></td>
                </tr>
                <tr>
            <td><button class="styled" type="button">1/x</button></td>
            <td><button class="styled" type="button">exch</button></td>
            <td><button class="styled" type="button">down</button></td>
            <td><button class="styled" type="button">sto</button></td>
            <td><button class="styled" type="button">rcl</button></td>
                </tr>
                <tr>
            <td><button class="styled" type="button">enter</button></td>
            <td><button class="styled" type="button">chs</button></td>
            <td><button class="styled" type="button">eex</button></td>
            <td><button class="styled" type="button">clx</button></td>
                </tr>
                <tr>
            <td><button class="styled" type="button">-</button></td>
            <td><button class="styled" type="button">7</button></td>
            <td><button class="styled" type="button">8</button></td>
            <td><button class="styled" type="button">9</button></td>
                </tr>
                <tr>
            <td><button class="styled" type="button">+</button></td>
            <td><button class="styled" type="button">4</button></td>
            <td><button class="styled" type="button">5</button></td>
            <td><button class="styled" type="button">6</button></td>
                </tr>
                <tr>
            <td><button class="styled" type="button">x</button></td>
            <td><button class="styled" type="button">1</button></td>
            <td><button class="styled" type="button">2</button></td>
            <td><button class="styled" type="button">3</button></td>
                </tr>
                <tr>
            <td><button class="styled" type="button">/</button></td>
            <td><button class="styled" type="button">0</button></td>
            <td><button class="styled" type="button">.</button></td>
            <td><button class="styled" type="button">pi</button></td>
            <td><button class="styled" type="button">i</button></td>
                </tr>
            </table>
    </body>
</html>
